<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>s4g server</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/s4g_base.css">
    <link rel="stylesheet" href="/bower_components/semantic/dist/semantic.min.css">
</head>
<body>
    <div id="maincontent">
        <admin></admin>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/semantic/dist/semantic.min.js"></script>
    <script src="/static/dist/build.js"></script>
</body>
</html>